body{
  margin:0;
}

nav {
  border-style: solid;
  background-color: lightgray;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  box-sizing:border-box;
}

.banner {
margin-top: 5vmin;
position: relative;
width: 100%;
height: 60vmin;
background-image: url("camera-2598507.jpg");
background-position: center; 
background-size: cover;
background-repeat: no-repeat;
box-sizing:border-box;
}
.pic {
  width: 33%;
  height: auto;
  position: relative;
  background-color: antiquewhite;
  margin-top: 1vmin;
}
img{
  border-bottom: 3px;
  border-style: solid;
  padding: 4vh;
}
.page{
  min-height: 75vmin;
box-sizing:border-box;
background: rgb(186,213,213);
background: linear-gradient(180deg, rgba(186,213,213,1) 0%, rgba(137,182,191,1) 76%);
background-image: url("watercolour-1336856.jpg");
background-position: center; 
background-size: stretch;
background-repeat: no-repeat;
}
a {
 width: 33.3%;
 border-style: solid; 
 text-align: center;
 padding: 1.5vmin 0 1.5vmin 0;
}

.nav-button{
  
}

footer {
  border-style: solid;
  background-color: lightgray;
  height: 20vmin;
  box-sizing:border-box;

}

.pic-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing:border-box;
  justify-content: space-evenly;
}

